* {
    margin: 0;
}
form {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 20px;
}
button {
    margin-left: 20px;
    background-color: turquoise;
}
#howMany{
justify-content: flex-start;
margin-bottom: 5px;
}

#howManyInput {
width: 15px;
justify-content: flex-end;
margin-bottom: 15px;
}

#whichCoins {
    justify-content: flex-start;
    margin-bottom: 5px;
}

#whichCoinsSelection {
justify-content: flex-end;
width: 100px;
}

#penny {
color: #b87333; 
}

#nickel{
color: #b2b1ae;
}

#dime {
color: #727472;
}

#quarter {
color: silver;
}
